@font-face {
  font-family: "Inter";
  src: url("./Inter/ttf/Inter_18pt-Bold.ttf") format("truetype"),
  url("./Inter/ttf/Inter_18pt-Bold.ttf") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter/ttf/Inter_18pt-SemiBold.ttf") format("truetype"),
  url("./Inter/ttf/Inter_18pt-SemiBold.ttf") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter/ttf/Inter_18pt-Medium.ttf") format("truetype"),
  url("./Inter/ttf/Inter_18pt-Medium.ttf") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter/ttf/Inter_18pt-Regular.ttf") format("truetype"),
  url("./Inter/ttf/Inter_18pt-Regular.ttf") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter/ttf/Inter_18pt-Light.ttf") format("truetype"),
  url("./Inter/ttf/Inter_18pt-Light.ttf") format("woff2");
  font-weight: 300;
}
